node_modules
dist
out
release
.DS_Store
*.log
*.tsbuildinfo
.vite
coverage
.cache
.turbo
.idea
.vscode/*
!.vscode/extensions.json
apps/desktop/src/renderer/src/vite-env.d.ts
data
*.sqlite
*.sqlite-journal
.env
.env.local
.capsule
thumbs.db
